
@using BOL;
@{
    ViewData["Title"] = "Department  Page";
}

<div class="text-center">
    <h1>Department Index....</h1>
    @{
        @* List<Department> dept=(List<Department>)ViewData["dept"]; *@
             List<Department> dept=ViewBag.lt; 

            @foreach(Department ob in dept){
                <li>
                    @ob.Name &nbsp;&nbsp;&nbsp;@ob.Id &nbsp; <a href="/department/delete/@ob.Id" ><input type="submit" value="Delete" /></a>
                    @* @ob.Name
                    @ob.Id
                    @ob.Location *@
                </li>
            }

                <hr>
              <table border="2px" >
                <tr><td>Id</td><td>Name</td><td>Location</td> </tr>
                 @foreach(Department ob in dept){
                <tr><td> @ob.Name</td><td>@ob.Id</td><td>@ob.Location</td></tr>
            }

            </table>

            
    }
    
</div>